@import "../../../resources/styles/variables.scss";

.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-color;
  width: 100%;
  padding: 0 10px;
  .header--cta--container {
    display: flex;
    align-items: center;
    button {
      text-wrap: nowrap;
      border: none;
    }
    span {
      background-color: white;
      width: 1px;
      height: 35px;
      margin: 0 10px;
    }
  }
  .header--left--container {
    display: flex;
    .header--nav--links {
      display: flex;
      gap: 10px;
      li {
        position: relative;
        a {
          transition: all 0.3s;
          height: 100%;
          font-size: $small-text;
          display: flex;
          color: white;
          align-items: center;
          &:hover {
            color: $primary-color;
          }
        }
        &::after {
          position: absolute;
          transition: all 0.3s;
          bottom: 0;
          left: 0;
          content: "";
          height: 3px;
          width: 0;
          background-color: $primary-color;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .header--container {
    .header--left--container {
      .header--nav--links {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile) {
  .header--container {
    .header--left--container {
      img {
        width: 60px;
      }
    }
    .header--cta--container {
      button {
        font-size: 12px;
        padding: 12px 10px;
      }
    }
  }
}
