@import "../../../resources/styles/variables.scss";
.modal--container--mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  .modal--main--container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .modal--title {
      font-size: $gigant-text;
      margin-bottom: 40px;
      text-align: center;
    }
    .modal--content--container {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 10px;
      max-height: calc(100% - 20px);
      background-color: white;
      padding: 20px 30px;
      margin: 20px 0;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 0;
      }
      .modal--close--button {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        color: $secondary-color;
        font-size: 30px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .modal--container--mask {
    .modal--main--container {
      .modal--content--container {
        border-radius: 0;
      }
    }
  }
}
