@import "../../../resources/styles/variables.scss";

.home--page--container {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 6fr 2fr;
  background-color: $background-color;
  height: 100vh;
  .home--page--left--side {
    background-color: $tertiary-color;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 5px;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #eeeeee;
      border-radius: 5px;
    }
  }
  .home--page--center--container {
    border-radius: 7px;
    overflow: hidden;
    background-color: $fifth-color;
    width: 100%;
    & > .event--bets--list {
      height: calc(100vh - 180px); // revalue
    }
    .events--sports--list {
      display: flex;
      gap: 20px;
      background-color: $fifth-color;
      padding: 20px 10px;
      .event--sport--item {
        color: white;
        padding: 10px;
        border-radius: 100%;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        background-color: $tertiary-color;
        cursor: pointer;
        p {
          transition: all 0.2s;
          width: 0;
          opacity: 0;
          visibility: hidden;
        }
        svg {
          font-size: 20px;
        }
        &:hover,
        &.active {
          border-radius: 10px;
          background-color: $primary-color;
          p {
            width: auto;
            padding-left: 5px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .home--page--container {
    display: flex;
    flex-direction: column;
    height: auto;
    .home--page--center--container {
      & > .event--bets--list {
        height: auto; // revalue
      }
    }
  }
}
