@import "../../../resources/styles/variables.scss";

.homeContainer {
    padding: 2.5em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "tab tab"
        "event ticket";
    gap: 2em
}

.tabContainer {
    grid-area: tab;
    
    display: grid;
    justify-content: center;
    background-color: #323232;
    color: #FFF;
    border-radius: 15px;
    padding: 1em;
}

.tabs {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.buttonTab {
    border-radius: 15px;
    border: 0.5px solid #000;

    background: #EBEBEB;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
}

.buttonTab:hover {
    background-color: #FFF;
}

.eventContainer {
    grid-area: event;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.ticketContainer {
    grid-area: ticket;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 1em;
    display: grid;
    row-gap: 1em;
}

.eventCard {
    color: #FFF;
    max-width: 20em;
    border-radius: 15px;
    border: 0.5px solid #000;
    text-align: center;
    background: #323232;
    display: grid;
    row-gap: 1em;
    padding: 1em;
}

.eventCounters {
    display: flex;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
}

.eventBets {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.buttonBet {
    border-radius: 5px;
    border: 0px solid #000;
    background: #FFF;
    width: 80px;
    cursor: pointer;
}

.buttonBet:hover{
    background-color: #EBEBEB;

}

.ticketTabs{
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.buttonTicketTab {
    border-radius: 15px;
    border: none;
    background: #EBEBEB;
    width: 180px;
    display: flex;
    justify-content: space-evenly;
}

.buttonTicketTab:hover {
    background-color: #323232;
    color: #FFF;
}

.betCard{
    display: flex;
    justify-content: space-around;
    gap: 2em;
    padding: 1em;
    max-height: 5em;
    border: 1px solid #000;
    border-radius: 15px;
}

.buttonTicket{
    padding: 0.5em;
    border-radius: 15px;
    background: #6BAD4C;
    color: #FFF;
   border: none;
}

.buttonTicketContainer{
    display: grid;
    row-gap: 1em;
    justify-content: center;
    align-items: center;
}