@import "../../../resources/styles/variables.scss";
.admin--breadcumb--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  strong {
    font-size: $gigant-text;
    text-transform: capitalize;
  }
  .admin--breadcumb--location--info {
    display: flex;
    gap: 5px;
    p {
      text-transform: capitalize;
      &::after {
        content: " /";
      }
      &:last-child::after {
        content: "";
      }
    }
  }
}
