$primary-color: #fd813c;
$secondary-color: #5acf15;

$text-danger: #f2371e;
/*Fuentes*/

$font-poppins-light: "Poppins-Light", sans-serif;
$font-poppins-regular: "Poppins-Regular", sans-serif;
$font-poppins-black: "Poppins-Black", sans-serif;
$font-poppins-bold: "Poppins-Bold", sans-serif;
$font-poppins-medium: "Poppins-Medium", sans-serif;
$font-poppins-black-italic: "Poppins-BlackItalic", sans-serif;
$font-poppins-bold-italic: "Poppins-BoldItalic", sans-serif;
$font-poppins-extraBold: "Poppins-ExtraBold", sans-serif;
$font-poppins-extraBold-italic: "Poppins-ExtraBoldItalic", sans-serif;
$font-poppins-extraLigth: "Poppins-ExtraLight", sans-serif;
$font-poppins-extraLigth-italic: "Poppins-ExtraLightItalic", sans-serif;
$font-poppins-semibold: "Poppins-SemiBold", sans-serif;
$font-poppins-italic: "Poppins-Italic", sans-serif;
$font-poppins-medium-italic: "Poppins-MediumItalic", sans-serif;
$font-poppins-semibold-italic: "Poppins-SemiBoldItalic", sans-serif;

/*Size-text*/
$regular-text: 16px;
$title-text: 25px;
$gigant-text: 45px;
