$primary-color: #df0b4c;
$secondary-color: #000000;
$tertiary-color: #202020;
$quartery-color: #2e2e2e;
$fifth-color: #101010;
$sixth-color: #383838;
$seventh-color: #092058;
$background-color: #4c4c4c;
$text-danger: #f2371e;
$white--color: #ffffff;
/*Fuentes*/

$font-poppins-light: "Poppins-Light", sans-serif;
$font-poppins-regular: "Poppins-Regular", sans-serif;
$font-poppins-black: "Poppins-Black", sans-serif;
$font-poppins-bold: "Poppins-Bold", sans-serif;
$font-poppins-medium: "Poppins-Medium", sans-serif;
$font-poppins-black-italic: "Poppins-BlackItalic", sans-serif;
$font-poppins-bold-italic: "Poppins-BoldItalic", sans-serif;
$font-poppins-extraBold: "Poppins-ExtraBold", sans-serif;
$font-poppins-extraBold-italic: "Poppins-ExtraBoldItalic", sans-serif;
$font-poppins-extraLigth: "Poppins-ExtraLight", sans-serif;
$font-poppins-extraLigth-italic: "Poppins-ExtraLightItalic", sans-serif;
$font-poppins-semibold: "Poppins-SemiBold", sans-serif;
$font-poppins-italic: "Poppins-Italic", sans-serif;
$font-poppins-medium-italic: "Poppins-MediumItalic", sans-serif;
$font-poppins-semibold-italic: "Poppins-SemiBoldItalic", sans-serif;

/*Size-text*/
$small-text: 12px;
$medium-text: 14px;
$regular-text: 16px;
$title-text: 25px;
$gigant-text: 45px;

/*Icon-sizes*/
$small-icon: 14px;
$regular-icon: 20px;
$big-icon: 28px;
$gigant-icon: 90px;

/*Responsive devices*/

$desktop: 1200px;
$tablet: 870px;
$mobile: 420px;
