@import "../../../resources/styles/variables.scss";
.event--card--container {
  background-color: $tertiary-color;
  padding: 0 12px;
  color: white;
  font-size: $small-text;
  .event--card--extra--info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid black;
  }
  .event--card--teams--info {
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 12px 0;
    .event--card--team--score {
      display: flex;
      justify-content: space-between;
      span {
        background-color: $quartery-color;
        padding: 2px 8px;
        border-radius: 2px;
      }
    }
  }
  .event--card--pays--info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding-bottom: 15px;
    .pay-info {
      display: flex;
      justify-content: center;
      padding: 8px 0;
      border: 1px solid white;
      transition: all 0.2s;
      cursor: pointer;
      border-radius: 5px;
      &:hover {
        border-color: $primary-color;
      }
    }
  }
}
