@import "../../../resources/styles/variables.scss";
.addevent--form--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .addevent--form--cuotes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
